<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
        <div class="wrap" id="navbarCollapse6">
            <div class="navbar-nav">
  
                <a routerLink="/Product/Products" routerLinkActive="active" class="nav-link">Products</a>
                <a routerLink="/Product/ShowOrders" routerLinkActive="active" class="nav-link">Orders</a>
  
                <a routerLink="Product/AddProduct" routerLinkActive="active" class="nav-link">Add New Produt</a>
                <a routerLink="Product/AddCategory" routerLinkActive="active" class="nav-link">Add New Category</a>
  
                <a routerLink="/AboutUs" routerLinkActive="active" class="nav-link">About Us</a>
                <a routerLink="/ContactUs" routerLinkActive="active" class="nav-link">Contact Us</a>
              </div>
            <form class="d-flex ms-auto">
                <!-- <input type="text" class="form-control me-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button> -->     
            <div class="navbar-nav">
              <!-- <a style="font-size: x-large;" [hidden]="IsUserLogged" routerLink="/Login" routerLinkActive="active" class="nav-link">
              <i class="fa fa-shopping-cart"></i><span class="badge badge-danger" id="All-Bills">1</span></a> -->
    
          </div>
          </form>
          </div>
    </div>        
  </nav>
  <!-- <img src="assets/wecomebanner.jpg"/> -->
  